annotated-types==0.7.0
Authlib==1.5.1
bandit==1.8.0
black==24.10.0
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
-e git+https://github.com/kevinfreeman1101/codebase-analyzer@629cc248fcc67135a7ce34e8e577aa7170316b00#egg=codebase_analyzer
colorama==0.4.6
contourpy==1.3.1
coverage==7.6.10
cryptography==44.0.2
cycler==0.12.1
dparse==0.6.4
filelock==3.16.1
flake8==7.1.1
fonttools==4.55.3
idna==3.10
iniconfig==2.0.0
Jinja2==3.1.5
joblib==1.4.2
kiwisolver==1.4.8
lizard==1.17.13
mando==0.7.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.0
mccabe==0.7.0
mdurl==0.1.2
mypy==1.14.1
mypy-extensions==1.0.0
networkx==3.4.2
nltk==3.9.1
numpy==2.2.1
packaging==24.2
pandas==2.2.3
pathspec==0.12.1
pbr==6.1.0
pillow==11.1.0
platformdirs==4.3.6
pluggy==1.5.0
psutil==6.1.1
py-cpuinfo==9.0.0
pycodestyle==2.12.1
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pydocstyle==6.3.0
pyflakes==3.2.0
Pygments==2.19.1
pyparsing==3.2.1
pytest==8.3.4
pytest-benchmark==5.1.0
pytest-cov==6.0.0
pytest-mock==3.14.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
radon==6.0.1
regex==2024.11.6
requests==2.32.3
rich==13.9.4
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
safety==3.3.1
safety-schemas==0.0.11
scikit-learn==1.6.0
scipy==1.15.0
seaborn==0.13.2
shellingham==1.5.4
six==1.17.0
snowballstemmer==2.2.0
stevedore==5.4.0
threadpoolctl==3.5.0
tqdm==4.67.1
typer==0.15.2
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
